* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header {
    background-color: #632713;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: orange;
    font-weight: bold;
    top: 0;
    position: sticky;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

header h2 {
    justify-content: left;
    font-size: 40px;
}

nav ul {
    padding-top: 10px;
    display: flex;
    list-style: none;

    justify-content: space-around;
    gap: 30px;
}

nav ul li a {
    color:orange;
    text-decoration: none;
}

.boton {
    background-color: orange;
    border-radius: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: darkorange;
}

#hero {
    background-color: #FFFCF3;
}

#hero .hero-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.border {
    border-radius: 25%;
}

#hero .cont-hero h1 {
    color:orange;
}

#quienes-somos h2 {
    color: orange;
}

#quienes-somos{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.texto-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#quienes-somos .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20%;
}


#servicios {
    text-align: center;
    padding: 20px;
    background-color: #FFFCF3;
}

.servs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;;
}

#servicios h2 {
    color: orange;
    padding: 20px;
}

.servicio {
    background-color: orange;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 20px;
}

#servicios button {
    background-color: #632713;
}

#formulario h2 {
    text-align: center;
    padding: 20px;
    color:orange;
}

.textos {
    border-radius: 20px;
    height: 40px;
    width: 500px;
}

.formulario-ayuda {
    display: flex;
    justify-content: space-between;
}

form {
    display: grid;
}

footer {
    margin-top: 20px;
    background-color: #632713;
    padding: 30px;
    text-align: center;
    color: orange;
}

